<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-content">
        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Gallery
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-3">
                    <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link active" data-toggle="tab" href="#form" role="tab" aria-expanded="true">
                                Form
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" data-toggle="tab" href="#images" role="tab" aria-expanded="false">
                                Image
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <form class="m-form m-form--fit m-form--label-align-right" method="post" enctype="multipart/form-data" action="<?=base_url('admin/saveGallery/'.$gallery->id)?>" id="gallery_form">
            <div class="tab-content">
                <div class="tab-pane active" id="form" role="tabpanel" aria-expanded="true">
                        <div class="m-portlet__body">
                            <div class="m-form__content">
                                <div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="m_form_1_msg">
                                    <div class="m-alert__icon">
                                        <i class="la la-warning"></i>
                                    </div>
                                    <div class="m-alert__text">
                                        Oh snap! Change a few things up and try submitting again.
                                    </div>
                                    <div class="m-alert__close">
                                        <button type="button" class="close" data-close="alert" aria-label="Close"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    URL *
                                </label>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control m-input" value="<?=$gallery->site_url?>" name="site_url" placeholder="Enter your url">
                                        <span class="input-group-addon">
                                            .via.com
                                        </span>
                                    </div>
                                        <span class="m-form__help">
                                            Please enter your website URL.
                                        </span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    Website *
                                </label>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control m-input" value="<?=$gallery->site?>" name="site" placeholder="Enter your Website">

                                    </div>
                                    <span class="m-form__help">
                                        Please enter your website Name.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    Title *
                                </label>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <input type="text" class="form-control m-input"  value="<?=$gallery->title?>" name="title" placeholder="Title">
                                    <span class="m-form__help">
                                       Title is Required
                                    </span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    Text *
                                </label>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <textarea name="text" id="" placeholder="Text" class="form-control m-input" rows="4"><?=$gallery->text?></textarea>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    Video *
                                </label>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <input type="text" class="form-control m-input" value="<?=$gallery->video?>" name="video" placeholder="Video Url">
                                    <span class="m-form__help">
                                        Video is Required
                                    </span>
                                </div>
                            </div>
                            
                            <?php if(empty($info)){?>
                                <div class="form-group m-form__group row info-group-item">
                                    <label class="col-form-label col-lg-3 col-sm-12">
                                        Info *
                                    </label>
                                    <div class="col-lg-4 col-md-9 col-sm-12">
                                        <input type="text" class="form-control m-input" name="info_title[0]" placeholder="Info Title">
                                    </div>
                                    <div class="col-lg-4 col-md-9 col-sm-12">
                                        <input type="text" class="form-control m-input" name="info_text[0]" placeholder="Info Text">
                                    </div>
                                    <input type="hidden" name="info_id[{{number}}]" value="0">
                                    <div class="col-lg-1">
                                        <a id="add-info" href="#" class="btn btn-success">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                 </div>
                            <?php } else { ?>
                                 <?php foreach($info as $key => $value){ ?>
                                    <div class="form-group m-form__group row info-group-item">
                                        <label class="col-form-label col-lg-3 col-sm-12">
                                            <?php if($key == 0) { ?>Info *<?php } ?>    
                                        </label>
                                        <div class="col-lg-4 col-md-9 col-sm-12">
                                            <input type="text" class="form-control m-input" name="info_title[<?=$key?>]" value="<?=$value->title?>" placeholder="Info Title">
                                        </div>
                                        <div class="col-lg-4 col-md-9 col-sm-12">
                                            <input type="text" class="form-control m-input" name="info_text[<?=$key?>]" value="<?=$value->text?>" placeholder="Info Text">
                                        </div>
                                        <input type="hidden" name="info_id[<?=$key?>]" value="<?=$value->id?>">
                                        <?php if($key == 0) { ?>
                                            <div class="col-lg-1">
                                                <a id="add-info" href="#" class="btn btn-success">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </div>
                                        <?php } else { ?>
                                            <div class="col-sm-1">
                                                <a href="#" class="btn btn-danger remove-info">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                        <?php } ?>
                                    </div>
                                 <?php } ?>
                            <?php }  ?>
                            <div id="info-data"></div>
                        </div>
                        <div class="m-form__actions m-form__actions">
                            <div class="row">
                                <div class="col-lg-9 ml-lg-auto">
                                    <button type="submit" class="btn btn-success">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="tab-pane " id="images" role="tabpanel" aria-expanded="false">
                    <div class="image-upload m-demo">
                        <div class="m-demo__preview  m-demo__preview--btn">
                            <div class="table-btn">
                                <a id="tab_images_uploader_pickfiles"   style="background-color:#14B9D6;" href="javascript:;" class="btn yellow flex-end">
                                    <i class="fa fa-plus"></i>
                                    <input type="file" name="files[]" id ="userfile" multiple="multiple">
                                </a>
                            </div>

                            <div class="image-wrapp-galery">
                                <div id="userfilenames"></div>
                                <div class="row">
                                     <?php if(!empty($image)){?>
                                         <?php foreach ($image as $key => $img) {?>
                                             <div class="col-lg-3 col-sm-12 image-lenght">
                                                 <div class="image-content">
                                                     <div class="button-remove">
                                                         <a href="#" class="removeImageGallery" data-filename="<?=$img->filename?>"><i class="fa fa-remove"></i></a>
                                                     </div>
                                                     <div class="form-group  m-form__group">
                                                         <input type="text" name="priority[<?=$key?>]" class="form-control m-input" value="<?=$img->priority?>" placeholder="Priority">
                                                     </div>
                                                     <div class="image-wrapp">
                                                         <img src="<?=$img->filename?>" alt="<?=$img->origin_name?>">
                                                     </div>
                                                     <div class="form-group  m-form__group">
                                                         <input type="text" name="new_title[<?=$key?>]" class="form-control m-input" value="<?=$img->origin_name?>" placeholder="Name Alt">
                                                     </div>
                                                     <div class="form-group  m-form__group">
                                                         <label class="m-radio m-radio--bold m-radio--state-brand">
                                                             <input type="radio" name="main" <?=$img->main == 1 ? "checked" : ""?> value="<?=$img->id?>">
                                                             Main
                                                             <span></span>
                                                         </label>
                                                     </div>
                                                     <input type="hidden" name="image_id[<?=$key?>]" value="<?=$img->id?>">
                                                 </div>
                                             </div>
                                         <?php }?>
                                     <?php }?>
                                 </div>

                            </div>
                        </div>
                    </div>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>

<div id="template-info" class="custom-template" style="display:none;">
    <div class="form-group m-form__group row  info-group-item">
        <label class="col-form-label col-lg-3 col-sm-12"></label>
        <div class="col-lg-4 col-md-9 col-sm-12">
            <input type="text" class="form-control m-input" name="info_title[{{number}}]" placeholder="Info Title">
        </div>
        <div class="col-lg-4 col-md-9 col-sm-12">
            <input type="text" class="form-control m-input" name="info_text[{{number}}]" placeholder="Info Text">
        </div>
        <div class="col-lg-1">
            <a href="#" class="btn btn-danger remove-info">
                <i class="fa fa-times"></i>
            </a>
        </div>

        <input type="hidden" name="info_id[{{number}}]" value="0">
    </div>
</div>