<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-content">
        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Intercom
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-3">
                    <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link active" data-toggle="tab" href="#form" role="tab" aria-expanded="true">
                                Form
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="form" role="tabpanel" aria-expanded="true">
                    <form  action="<?= base_url('admin/saveIntercom/'.$row->id)?>" class="m-form m-form--fit m-form--label-align-right"  method="POST" >
                        <div class="m-portlet__body">
                            <div class="m-form__content">
                                <div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="m_form_1_msg">
                                    <div class="m-alert__icon">
                                        <i class="la la-warning"></i>
                                    </div>
                                    <div class="m-alert__text">
                                        Oh snap! Change a few things up and try submitting again.
                                    </div>
                                    <div class="m-alert__close">
                                        <button type="button" class="close" data-close="alert" aria-label="Close"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    User Id *
                                </label>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control m-input" value="<?=$row->userId?>" name="userId" placeholder="User Id">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    Email *
                                </label>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control m-input" value="<?=$row->email?>" name="email" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    Name *
                                </label>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control m-input" value="<?=$row->name?>" name="name" placeholder="Name">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    App ID *
                                </label>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control m-input" value="<?=$row->appID?>" name="appID" placeholder="App ID">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="m-form__actions m-form__actions">
                            <div class="row">
                                <div class="col-lg-9 ml-lg-auto">
                                    <button type="submit" class="btn btn-success">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
