<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-content">
        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Partners
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-3">
                    <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" data-toggle="tab" href="#images" role="tab" aria-expanded="false">
                                Image
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <form class="m-form m-form--fit m-form--label-align-right"action="<?=base_url('admin/savepartners')?>" enctype="multipart/form-data"   method="post" >
            <div class="tab-content">
                <div class="tab-pane active" id="images" role="tabpanel" aria-expanded="false">
                    <div class="image-upload m-demo">
                        <div class="m-demo__preview  m-demo__preview--btn">
                            <div class="table-btn">
                                <a id="tab_images_uploader_pickfiles"   style="background-color:#14B9D6;" href="javascript:;" class="btn yellow flex-end">
                                    <i class="fa fa-plus"></i>
                                    <input type="file" name="files[]" id ="userfile" multiple="multiple">
                                </a>
                            </div>

                            <div class="image-wrapp-galery">
                                <div id="userfilenames"></div>
                                <div class="row">
                                    <?php if(!empty($partner)){?>
                                        <?php foreach ($partner as $key => $img) {?>
                                            <div class="col-lg-3 col-sm-12 image-lenght">
                                                <div class="image-content">
                                                    <div class="button-remove">
                                                        <a href="#" class="removeImagePartners" data-filename="<?=$img->filename?>"><i class="fa fa-remove"></i></a>
                                                    </div>
                                                    <div class="form-group  m-form__group">
                                                        <input type="text" name="priority[<?=$key?>]" class="form-control m-input" value="<?=$img->priority?>" placeholder="Priority">
                                                    </div>
                                                    <div class="image-wrapp">
                                                        <img src="<?=$img->filename?>" alt="<?=$img->origin_name?>">
                                                    </div>
                                                    <div class="form-group  m-form__group">
                                                        <input type="text" name="new_title[<?=$key?>]" class="form-control m-input" value="<?=$img->origin_name?>" placeholder="Name Alt">
                                                    </div>
                                                    <input type="hidden" name="image_id[<?= $key ?>]" value="<?= $img->id ?>">
                                                </div>
                                            </div>
                                        <?php }?>
                                    <?php }?>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="m-form__actions m-form__actions">
                        <div class="row">
                            <div class="col-lg-9 ml-lg-auto">
                                <button type="submit" class="btn btn-success">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
