<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-content">
        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Team
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-3">
                    <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link active" data-toggle="tab" href="#form" role="tab" aria-expanded="true">
                                Form
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" data-toggle="tab" href="#images" role="tab" aria-expanded="false">
                                Image
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <form class="m-form m-form--fit m-form--label-align-right"action="<?=base_url('admin/saveTeam/'.$row->id)?>" enctype="multipart/form-data"   method="post" id="team_form">
            <div class="tab-content">
                <div class="tab-pane active" id="form" role="tabpanel" aria-expanded="true">
                        <div class="m-portlet__body">
                            <div class="m-form__content">
                                <div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="m_form_1_msg">
                                    <div class="m-alert__icon">
                                        <i class="la la-warning"></i>
                                    </div>
                                    <div class="m-alert__text">
                                        Oh snap! Change a few things up and try submitting again.
                                    </div>
                                    <div class="m-alert__close">
                                        <button type="button" class="close" data-close="alert" aria-label="Close"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    Info *
                                </label>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control m-input" value="<?=$row->info?>" name="info" placeholder="Info">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    Name *
                                </label>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control m-input" value="<?=$row->name?>"  name="name" placeholder="Name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-form__actions m-form__actions">
                            <div class="row">
                                <div class="col-lg-9 ml-lg-auto">
                                    <button type="submit" class="btn btn-success">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="tab-pane " id="images" role="tabpanel" aria-expanded="false">
                    <div class="image-upload m-demo">
                        <div class="m-demo__preview  m-demo__preview--btn">
                            <div class="table-btn">
                                <a id="tab_images_uploader_pickfiles"   style="background-color:#14B9D6;" href="javascript:;" class="btn yellow flex-end">
                                    <i class="fa fa-plus"></i>
                                    <input type="file" name="files[]" <?=!empty($row->filename) ? "disabled" : ""?> id ="userfile" multiple="multiple">
                                </a>
                            </div>
                            <div class="image-wrapp-galery">
                                <div id="userfilenames"></div>
                                <div class="row">
                                    <?php if(!empty($row->filename)){?>
                                        <div class="col-lg-3 col-sm-12 image-lenght">
                                            <div class="image-content">
                                                <div class="button-remove">
                                                    <a href="#" class="removeImageTeam" data-filename="<?=$row->filename?>"><i class="fa fa-remove"></i></a>
                                                </div>
                                                <div class="form-group  m-form__group">
                                                    <input type="text" name="priority[0]" class="form-control m-input" value="<?=$row->priority?>" placeholder="Priority">
                                                </div>
                                                <div class="image-wrapp">
                                                    <img src="<?=$row->filename?>" alt="<?=$row->origin_name?>">
                                                </div>
                                                <div class="form-group  m-form__group">
                                                    <input type="text" name="new_title[0]" class="form-control m-input" value="<?=$row->origin_name?>" placeholder="Name Alt">
                                                </div>
                                                <input type="hidden" name="image" value="<?= $row->filename?>">
                                            </div>
                                        </div>
                                    <?php }?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
