<tr>
	<td style="font-size:18px;padding-top:50px;font-family: 'Open Sans';">
		Thank you for using <a href="http://www.portloads.com">www.Portloads.com</a>
	</td>
</tr>
<tr>
	<td style="font-size:12px;font-family: 'Open Sans';">
		If you would like to stop receiving these emails, please log in to your account and disable notifications.
	</td>
</tr>