Send Email
[--subject--]
<table>
    <tr>
        <td style="font-family: 'Open Sans';font-size:23px;padding:10px 0;">Hello Areg</td>
    </tr>
    <tr>
        <td style="font-size:18px;font-family: 'Open Sans'; ">
            Social Link Endeavor
        </td>
    </tr>
    <tr>
        <td style="font-size:18px;font-family: 'Open Sans'; font-weight: bold;"> Email</td>
        <td>>{{email}}</td>

    </tr>
    <tr>
        <td style="font-family: 'Open Sans';font-size:18px;padding:15px 0;">Best regards,</td>
    </tr>
    <tr>
        <td style="font-family: 'Open Sans';font-size:18px;">Social Link Endeavor, Inc</td>
    </tr>
</table>