Lndr - Password Change Request
[--subject--]
<table>
    <tr>
        <td style="font-family: 'Open Sans';font-size:23px;padding:10px 0;">Hello {{username}}!</td>
    </tr>
    <tr>
        <td style="font-size:18px;font-family: 'Open Sans'; ">
            We have received your request to change your password. To process this change and select a new password, close
            any open Portloads browser windows and click on the link below:
        </td>
    </tr>
    <tr>
        <td><a href="{{link}}" style="font-family: 'Open Sans';margin-top:10px;margin-bottom:20px; display:inline-block; color:#fff;background-color:#14B9D6;padding:7px 14px;text-decoration:none;">RESET PASSWORD</a></td>
    </tr>
    <tr>
        <td style="font-family: 'Open Sans';font-size:18px;padding:15px 0;">Best regards,</td>
    </tr>
    <tr>
        <td style="font-family: 'Open Sans';font-size:18px;">Lndr, Inc</td>
    </tr>
</table>