 - Application In Process
[--subject--]
<table>
	<tr>
		<td style="font-family: 'Open Sans';font-size:23px;padding:10px 0;">Hi {{username}}!</td>
	</tr>
	<tr>
		<td style="font-size:18px; font-family: 'Open Sans';">
			To confirm your account
		</td>
	</tr>
	<tr >
	    <td style="font-size:18px;padding-bottom:10px;font-family: 'Open Sans';">
	        <span style="text-decoration: underline;display:inline-block;font-weight:bold; ">Your Username:</span>
	        {{email}}
	    </td>
	    </td>
	</tr>
	<tr >
	    <td style="font-size:18px;padding-bottom:10px;font-family: 'Open Sans';">
	        <span style="text-decoration: underline; display:inline-block;font-weight:bold;">Your Password:</span> {{password}}</td>
	</tr>
	<tr>
		<td><a href="{{link}}" style="font-family: 'Open Sans';margin-top:10px;margin-bottom:20px; display:inline-block; color:#fff;background-color:#14B9D6;padding:7px 14px;text-decoration:none;">Confirm Email</a></td>
	</tr>
	<tr>
		<td style="font-size:18px;padding:5px 0;font-family: 'Open Sans';">Best regards,</td>
	</tr>
	<tr>
		<td style="font-size:18px;font-family: 'Open Sans';">Lndr, Inc.</td>
	</tr>
</table>